

header {
  box-sizing: border-box;
  position: fixed;
  height: var(--header-height);
  width: 100%;
  padding: var(--header-padding);
  display: flex;
  justify-content: space-between;
  background-color: red;
}

header img {
  height: 100%;
  width: auto;
}

nav {
  box-sizing: border-box;
  position: fixed;
  top: var(--header-height);
  left: calc(100% - var(--menu-cover-percentage));
  width: var(--menu-cover-percentage);
  padding: var(--header-padding);
  color: white;

  background:
    var(--grainy-image),
    radial-gradient(
      ellipse at center,
      transparent 0%,
      transparent 50%,
      rgb(255, 255, 255, 0.05) 100%
    ),
    radial-gradient(
      circle at right,
      white 0%,
      rgb(100, 100, 100) 50%
    ),
    rgb(0, 127, 255);
  
  background-blend-mode: overlay, normal, multiply;
}

nav ul {
  display: flex;
  flex-direction: column;
  gap: var(--header-padding);
}

nav.closed {
  display: none;
}

nav.open {
  display: block;
}


