@import "Common.css";


/* Content wrapper */
.content-wrapper {
  /* Position */
  box-sizing: border-box;
  position: fixed;
  top: var(--header-size);
  /* Dimensions */
  width: 100%;
  height: calc(100vh - var(--header-size));
  padding: 20px;
  /* Child organization */
  align-items: center;
  overflow: hidden;
  /* Colors */
  color: white;
}

/* Welcome message */
.content-wrapper .welcome-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s;
}

.welcome-message:hover {
  transform: translateY(-10vh);
}

.content-wrapper .welcome-message .top-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  text-align: right;
  font-weight: bold;
}

.content-wrapper .welcome-message .bottom-text {
  font-size: 1.5em;
  text-align: center;
}

.content-wrapper .welcome-message .top-text .image-wrapper img {
  width: 10rem;
  height: 10rem;
}

/* Mobile media */
@media (max-width: 768px) {
  .content-wrapper {
    /* Colors */
    background: #020024; 
    background:
      linear-gradient(
        180deg,
        #020024 0%,
        rgba(9, 9, 121, 1), 80%, 
        rgba(0, 212, 255, 1) 100%
      );
  }

  .content-wrapper .welcome-message {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
  }

  /* Background image */
  .content-wrapper .background-image {
    position: absolute;
    top: 50%;
    left: 0;
    height: 50%;
    width: auto;
    z-index: 1;
  }

  .content-wrapper .background-image img {
    width: 100%;
    height: 100%;
    object-position: center bottom;
    object-fit: cover;
  }

}

/* Desktop media */
@media (min-width: 769px) {
  .content-wrapper {
    /* Colors */
    background: #020024; 
    background:
      linear-gradient(
        45deg,
        #020024 0%,
        rgba(9, 9, 121, 1) 70%, 
        rgba(0, 212, 255, 1) 100%
      );
  }
  
  .content-wrapper .welcome-message {
    position: absolute;
    top: 0;
    left: 0;
    width: 35%;
    height: 100%;
  }
  
  /* Background image */
  .content-wrapper .background-image {
    position: absolute;
    top: 0;
    left: 40%;
    width: 70%;
    height: 100%;
  }

  .content-wrapper .background-image img {
    width: 100%;
    height: 100%;
    object-position: left bottom;
    object-fit: cover;
  }
}

