
.timeline-wrapper {
  box-sizing: border-box;
  position: fixed;
  top: var(--header-size);
  width: 100%;
  height: calc(100dvh - var(--header-size));
  overflow-y: scroll;
  overflow-x: auto;
  padding: 20px;
  background: #020024; 
  background:
    linear-gradient(
      180deg,
      rgb(0, 0, 50) 0%,
      rgb(0, 0, 100), 80%, 
      rgb(0, 100, 200) 100%
    );
}

.timeline-wrapper table {
    width: max-content;
    border-collapse: separate;
    border-spacing: 0;
}

.timeline-wrapper table thead th {
  position: sticky;
  color: black;
  background: white;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.7);
  padding: 10px;
  font-size: 1.5em;
  font-weight: bold;
  top: 0;
  z-index: 1;
}

.timeline-wrapper table thead th:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.timeline-wrapper table thead th:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.timeline-wrapper table td {
  padding: 10px;
}

.timeline-wrapper .weekday-element {
  display: flex;
  flex-direction: column;
  height: auto;
  border-radius: 6px;
  background-color: white;
  border: 5px solid white;
}

.timeline-wrapper .weekday-element .duration {
  padding: 5px;
  display: flex;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

.timeline-wrapper .weekday-element .classes {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: space-between;
  height: auto;
}


.timeline-wrapper .weekday-element .no-classes {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
}

.timeline-wrapper .weekday-element .classes .professor {
  border-radius: 5px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.timeline-wrapper .weekday-element .classes .professor .name {
  font-weight: bold;
}

@media (max-width: 768px) {
  .timeline-wrapper table th, 
  .timeline-wrapper table td {
    width: 65vw;
  }
}

@media (min-width: 769px) {
  .timeline-wrapper table {
    width: 100%;
  }
}
