
.timeline-wrapper {
  box-sizing: border-box;
  position: fixed;
  top: var(--header-size);
  width: 100%;
  height: calc(100vh - var(--header-size));
  display: grid;
  grid-template-columns: repeat(6, 60vw);
  grid-template-rows: 3em repeat(7, auto);
  grid-auto-flow: column;
  overflow-x: scroll;
  overflow-y: scroll;
  padding: 20px;
  gap: 10px 20px;
  background: #020024; 
  background:
    linear-gradient(
      180deg,
      #020024 0%,
      rgba(9, 9, 121, 1), 95%, 
      rgba(0, 212, 255, 1) 100%
    );
}

.timeline-wrapper .weekday-name {
  padding: 10px;
  font-size: 1.5em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;  
  color: white;
}

.timeline-wrapper .weekday-element {
  display: flex;
  flex-direction: column;
  height: auto;
  border-radius: 6px;
  background-color: white;
}

.timeline-wrapper .weekday-element .duration {
  padding: 5px;
  display: flex;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

.timeline-wrapper .weekday-element .classes {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: space-between;
  height: auto;
  overflow: scroll;
}


.timeline-wrapper .weekday-element .no-classes {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
}

.timeline-wrapper .weekday-element .classes .professor {
  border-radius: 5px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.timeline-wrapper .weekday-element .classes .professor .name {
  font-weight: bold;
}


@media (max-width: 768px) {
  .timeline-wrapper {
    grid-template-columns: repeat(6, 60vw);
  }
}


@media (min-width: 769px) {
  .timeline-wrapper {
    grid-template-columns: repeat(6, 1fr);
  }
}

