
:root {
  --header-height: 3em;
  --header-padding: 0.6em;
  --menu-cover-percentage: 60%;
  --grainy-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 200 200'><filter id='noise'><feTurbulence type='fractalNoise' baseFrequency='.8' numOctaves='4' stitchTiles='stitch'/></filter><rect width='100%25' height='100%25' filter='url(%23noise)' opacity='.5'/></svg>")
}

html {
  margin: calc(var(--header-size)) 0px 0px 0px;
  font-family: "Inter", sans-serif;
  font-size: 18px;

  background:
    var(--grainy-image),
    radial-gradient(
      ellipse at center,
      transparent 0%,
      transparent 50%,
      rgb(255, 255, 255, 0.05) 100%
    ),
    radial-gradient(
      circle at bottom,
      white 0%,
      rgb(100, 100, 100) 50%
    ),
    rgb(0, 127, 255);
  
  background-blend-mode: overlay, normal, multiply;
}
