
:root {
  --header-height: 3em;
  --header-padding: 0.6em;
  --menu-cover-percentage: 60%;
  --grainy-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 200 200'><filter id='noise'><feTurbulence type='fractalNoise' baseFrequency='.8' numOctaves='4' stitchTiles='stitch'/></filter><rect width='100%25' height='100%25' filter='url(%23noise)' opacity='.22'/></svg>")
}

body {
  margin: calc(1.5*var(--header-height)) 0px 0px 0px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  background: white;
}
